{% comment %}
  Renders an image component

  Accepts:
  - image: {Image} an image_picker image from Shopify
  - src: {String} the src url
  - alt: {String} the alt text
  - aspect_ratio: {String} aspect ratio of image
  - focal_point: {String} focal point of image
  - id: {String} the id of the image (optional)
  - class: {String} additional classes (optional)

  Usage:
  {% render 'image',
    image: picked_image
    src: 'https://images.unsplash.com/photo-1716951923523-0c76b14d4852?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Alt text for the image'
    aspect_ratio: '4:3',
    class: 'my-custom-class',
  %}
{% endcomment %}

{% liquid
  assign focal_point = focal_point | default: 'center'
%}

{% style %}
  .image-wrapper {
    background-color: unset;
    background-image: unset;
    border-radius: var(--image-border-radius);
    height: fit-content;
    left: unset;
    overflow: hidden;
    position: relative;
    top: unset;
    width: 100%;
    z-index: unset;

    &::after {
      content: '';
      display: block;
    }

    &.aspect-ratio-9-21::after {
      padding-bottom: 233.33%; /* 21/9 = 2.3333... */
    }

    &.aspect-ratio-9-16::after {
      padding-bottom: 177.78%; /* 16/9 = 1.7778... */
    }

    &.aspect-ratio-5-8::after {
      padding-bottom: 160%; /* 8/5 = 1.6 */
    }

    &.aspect-ratio-2-3::after {
      padding-bottom: 150%; /* 3/2 = 1.5 */
    }

    &.aspect-ratio-3-4::after {
      padding-bottom: 133.33%; /* 4/3 = 1.3333... */
    }

    &.aspect-ratio-4-5::after {
      padding-bottom: 125%;
    }

    &.aspect-ratio-5-6::after {
      padding-bottom: 120%;
    }

    &.aspect-ratio-6-7::after {
      padding-bottom: 116.67%;
    }

    &.aspect-ratio-1-1::after {
      padding-bottom: 100%;
    }

    &.aspect-ratio-7-6::after {
      padding-bottom: 85.71%;
    }

    &.aspect-ratio-6-5::after {
      padding-bottom: 83.33%;
    }

    &.aspect-ratio-5-4::after {
      padding-bottom: 80%;
    }

    &.aspect-ratio-4-3::after {
      padding-bottom: 75%;
    }

    &.aspect-ratio-3-2::after {
      padding-bottom: 66.66%;
    }

    &.aspect-ratio-8-5::after {
      padding-bottom: 62.5%;
    }

    &.aspect-ratio-16-9::after {
      padding-bottom: 56.25%;
    }

    &.aspect-ratio-21-9::after {
      padding-bottom: 42.85%;
    }

    &.background {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.fill {
      height: 100%;
    }

    &.stretch {
      height: 100%;
    }

    img {
      mix-blend-mode: unset;
      opacity: unset;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > .overlay {
      background-color: rgba(0, 0, 0, 0.48);
      display: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.background > .overlay {
      display: block;
    }
  }
{% endstyle %}

{% liquid
  assign image_classes = 'image-wrapper'

  case aspect_ratio
    when '9:21'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-9-21'
    when '9:16'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-9-16'
    when '5:8'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-5-8'
    when '2:3'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-2:3'
    when '3:4'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-3-4'
    when '4:5'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-4-5'
    when '5:6'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-5-6'
    when '6:7'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-6-7'
    when '1:1'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-1-1'
    when '7:6'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-7-6'
    when '6:5'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-6-5'
    when '5:4'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-5-4'
    when '4:3'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-4-3'
    when '3:2'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-3-2'
    when '8:5'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-8-5'
    when '16:9'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-16-9'
    when '21:9'
      assign image_classes = image_classes | append: ' ' | append: 'aspect-ratio-21-9'
    when 'background'
      assign image_classes = image_classes | append: ' ' | append: 'background'
    when 'fill'
      assign image_classes = 'fill'
    when 'stretch'
      assign image_classes = image_classes | append: ' ' | append: 'stretch'
  endcase

  if class != blank
    assign image_classes = image_classes | append: ' ' | append: class
  endif
%}

<div
  class="{{ image_classes }}"
  {% if id != blank %}
    id="{{ id }}"
  {% endif %}
>
  {% if image and image != blank %}
    <img
      src="{{ image | image_url }}"
      alt="{{ image.alt }}"
      width="unset"
      height="unset"
      style="object-position: {{ focal_point }};"
    >
  {% elsif src != blank %}
    <img src="{{ src }}" alt="" width="unset" height="unset">
  {% else %}
    <img
      src="https://images.unsplash.com/photo-1486912500284-6f2462ba07ea?q=80&w=1185&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
      width="unset"
      height="unset"
    >
  {% endif %}
  <div class="overlay"></div>
</div>
