{% style %}
  section.relume-contact-015 {
    > .container {
      display: grid;
      gap: var(--spacing-9);
      grid-template-columns: 1fr;
    }

    .alpha {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: var(--spacing-9);
      }
    }

    .address {
      align-items: flex-start;
      display: flex;
      flex-flow: row nowrap;
      gap: var(--spacing-4);

      .icon {
        flex: 0 0 1.5rem;
      }
    }
  }
{% endstyle %}

<div class="container container-lg {% unless request.design_mode %}reveal-from-bottom{% endunless %}">
  <div class="alpha">
    <div class="text-container">
      <div class="heading">
        <span class="tagline heading-lg"> Location </span>
        <h2 class="heading-5xl">
          {{ metaobject.name }}
        </h2>
      </div>
    </div>
    <div class="address">
      {% render 'icon', icon: 'pin-location', library: 'streamline', set: 'ultimate', style: 'bold' %}
      <div class="text">
        <h3 class="heading-2xl">Address</h3>
        <address>
          <span>
            {{- metaobject.address.value.address_line_1.value -}}
            {%- if metaobject.address.value.address_line_2.value -%}
              , {{ metaobject.address.value.address_line_2.value }}
            {%- endif -%}
          </span>
          <div>
            <span>{{ metaobject.address.value.city }}, {{ metaobject.address.value.state }}</span>
            <span>{{ metaobject.address.value.zip_code }}</span>
          </div>
        </address>
      </div>
    </div>
  </div>
  {% if metaobject.media and metaobject.media.type == 'list.file_reference' %}
    <div class="bravo">
      {% assign media = metaobject.media.value | first %}
      {% if media.media_type == 'image' %}
        {% render 'image', aspect_ratio: '16:9', image: media %}
      {% elsif media.media_type == 'video' %}
        {% render 'video', aspect_ratio: '16:9', video: media %}
      {% endif %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Contact 015",
  "tag": "section",
  "class": "relume-contact-015 color-scheme-light amber"
}
{% endschema %}
